body {
    margin: 0;

}

.container {
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 50%;
    background-color: beige;
}

.booking-header {
    background-color: coral;
    padding: 5px;
    font-size: 48px;
}

.booking-field {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    background-color: beige;
    padding: 5px;
    font-size: 18px;
}

.booking-label {
    width: 30%;
    padding: 5px;
}

.amount-field {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: coral;
    font-size: 32px;
    padding: 5px;
}